


.main{
    min-width: 100%;
    min-height: 100vh;
    background:oldlace;
    position: relative;
    
}
.mainImg_close{
    position: absolute;
    top:7vh;left:15px;
    width:50px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.3;
    z-index: 3;
}
.mainImg_open{
    position: fixed;
    top:6vh;left:10px;
    border-radius: 10px;
    width:50px;
    height: 40px;
    cursor: pointer;
    opacity: 0.3;
    z-index: 3;
}
.mainLeft{
    height: 90%;
    padding-top: 10px;
    width: 40%;
    text-align: center;
    margin: 10px auto;
   position: fixed;
   top: 5vh;
   left: 10px;
    border:2px solid black;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    background: rgb(243, 250, 236);
    overflow: hidden;

}
.main img:hover{
     opacity: 1;
}
.none{
    display: none;
}
.mainInput input{
    width: 70%;
    padding: 4px 0;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}
.error_div{
    margin-bottom: 10px;
}
.error_div h2 {
    margin: 0;
}
.error_inp{
    padding: 5px;
    border-radius: 10px;
    background: red;
}
.mainAllRezult{
    height: 85%;
    overflow-y: auto;
}
.mainAllRezult::-webkit-scrollbar {
    width: 13px;   
                /* ширина всей полосы прокрутки */
  }
  
  .mainAllRezult::-webkit-scrollbar-track {
    background: rgba(114, 114, 113, 0.392) ;
    border-radius: 10px;
         /* цвет зоны отслеживания */
  }
  
  .mainAllRezult::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: rgb(243, 250, 236);    /* цвет бегунка */
    border-radius: 20px; 
    border: 1px solid black;      /* округлось бегунка */
      /* отступ вокруг бегунка */
  }
.mainAllRezult img{
    height: 95%;
    width: 100%;
    
}
.mainAllRezult p{
    cursor: pointer;
    margin: 0;
}
.mainAllRezult p:hover{
    background: black;
    color:white;

}


.rezult{
    width: 100%;
    display: flex;
   
}
.rezultLeft{
    width: 42%;
}
.rezult_div{
    width: 58%;
}
.rezult_div_open{
    width: 100%;
}
.rezultItem{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    margin-top: 12vh;
}
.rezult_menu{
    position: fixed;
    top:5vh;
    color: white;
    display: flex;
    align-items: center;
    z-index: 2;
    width: 58%;
    height:7vh;
    background-color: #333167;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
}
.rezult_menu_open{
    position: fixed;
    top:5vh;
    padding:0 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 95%;
    height:7vh;
    background-color: #333167;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
}


.sort_div{
    display: flex;
    justify-content: space-around;
    text-align: center;
   border:2px solid black;
   margin: 0 auto;
   border-radius: 10px;
   cursor: pointer;
 text-transform: capitalize;
 width: 90%;
}
.sort_div button{
    text-transform: capitalize;
   
    
    border-radius: 0px;
    padding: 4px 3px;
    margin: 0;
    min-width: 20px;
}
.active{
    background: greenyellow;
    color: rgb(24, 0, 109);
    opacity: 1;
    font-weight: 700;
    flex:1
}
.no_active{
    opacity: 0.5;
    flex:1
}

.sort_div button:nth-child(1){
    padding-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sort_div button:last-child{
    opacity: 1;
    padding-right: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sort_div button:hover{
    background: rgb(165, 255, 30);;
    opacity: 0.9;
    
}

.sort_div button:last-child:hover{
    background: red;
}

.rezultClear{
    opacity: 0.8;
    background: red;
    color: white;
    
}
.card{
    border: 2px solid black;
    padding: 10px;
    width:220px;
    background:gainsboro;
    box-shadow: 0px 0px 9px black;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.cardClose{
    position: absolute;
    top:-2px;right: -1px;
    background-color: rgb(236, 85, 85);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    height: 25px;
}
.card_header{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.card_text {
    color:black;
    width: 100%;
    
}
.card_header img{
    width:90px;
    height: 90px;
    margin-bottom: 10px;
}

.cardMain{
    display: flex;
    flex-direction: column;
}

.cardMain p {
    overflow-y: auto;
    height: 180px;
    margin: 0;
    padding: 5px;
}
.cardMain h2{
    color: red;
    height: 180px;
    text-align: center;
    align-self: center;
}

.cardMain h3{
    margin: 0;
    margin-top: 10px;
    text-align: center; 
}


.currentItem{
    margin-top: 5vh;
    padding: 20px;
}

.currentItem{
    margin: 0 auto;
    max-width: 1200px;
}
.itemDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue{
    color:blue
}
.red{
    color:red
}
.green{
    color:green
}

.itemDiv img{
    max-width: 25vh;
    border:1px solid black;
    box-shadow: 0px 0px 8px 1px black;
}
.itemDiv p{
    padding: 5px 10px;
}

.itemDate{
    display: flex;
    justify-content: space-around;
}

.charts{
    
    width: 80%;
    padding: 10px;
    margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0px 0px 4px 2px black;
  border-radius: 10px;
}

.cardMain p::-webkit-scrollbar {
    width: 12px;               /* ширина всей полосы прокрутки */
  }
  
  .cardMain p::-webkit-scrollbar-track {
    background: gainsboro;        /* цвет зоны отслеживания */
  }
  
  .cardMain p::-webkit-scrollbar-thumb {
    background-color: rgb(157, 157, 157);    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
  }

  @media only screen and (max-width: 920px) {
    .mainLeft{
        width: 95%;
        height: 40vh;
    }
    .rezult{
        flex-direction: column;

    }
    .rezultLeft{
        height: 45vh;
    }
    .rezult_menu{
        margin-top: 45vh;
        width: 100%;
        left: 0;
        border-radius: 10px;
        background:grey;
    }
    .rezult_div_open{
        margin-top: 5vh;
    }
    .rezultLeft{
        height: 52vh;
    }
    .rezult_div{
        width: 100%;
        overflow-y: auto;
        height: 50vh;
    }
    .rezultItem {
        margin-top:6vh;
        
    }
    .cardMain p{
        display:none;
    }
    .sort_div button:nth-child(1){
        display: none;
    }
    .sort_div button:nth-child(2){
       border-top-left-radius: 10px;
       border-bottom-left-radius: 10px;
    }
    .mainImg_close{
        top: 7vh;
    }
 
}