.div{
    margin: 20px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    padding: 0;
   display: flex;
   justify-content: space-around;
   min-height: 60vh;
}

.div h2 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}
.div_right{
    width: 50%;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(204, 204, 204);
    box-shadow: 0px 0px 3px black;
}

.div_left{
    width: 50%;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(127, 238, 154);
    box-shadow: 0px 0px 3px black;
}

.form{
    display: flex;
    align-items: center;
   justify-content: space-around;
    border-bottom: 2px solid black;
   margin-bottom: 10px;
}

.form input{
    cursor: pointer;
    width: 15px;
    height: 15px;
}
.form:hover{
    box-shadow: 0px 0px 8px black;
    border-radius:5px;
    

}

.form button {
    cursor: pointer;
    background-color: rgb(253, 77, 77);
    border-radius: 5px;
    font-size: 20px;
    padding: 3px 9px;
    text-transform: uppercase;  
}
.name{
    text-align: center;
    width: 60%;
   white-space: normal;
    
}
.form  input[type='text']{
    width:60%;
    text-align: center;
    
}