.header{
    background-color: rgb(247, 247, 247);
    height: 95vh;
    position: relative;
}

.nameUser{
    margin: 0;
    padding: 10px;
    text-align: center;
}
.settingHeader{
    width: 80%;
    margin: 15px auto ;
    border-radius: 10px;
    
    display: flex;
    justify-content: space-between;
    background-color: rgb(251, 253, 227);
    
    
}

.settingHeader img{
    height: 30vh;
}
.userinfo{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.change{
    display: flex;
    width: 80%;
   
    border: 2px solid black;
    text-transform: capitalize;
    margin: 0px auto;
    background-color: rgb(229, 248, 201);
    border-radius: 10px;
}
.change a {
    flex:0 25%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;   
}

.change a:hover {
    background-color: rgb(252, 205, 205);
}

.changeInp{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    text-transform: capitalize;
    margin: 10px auto;
    background-color: rgb(229, 248, 201);
    border-radius: 10px;
    padding: 10px 0px;
    
}
.changeInp p{
    text-align: center;
    font-size: 20px;
}
.changeInp input{
    width: 50%;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}
.changeInp button {
    padding: 5px;
    margin: 0px auto;
    margin-top: 5px;
}

.exitProfile{
    width: 20%;
    margin: 15px 40%;
    background-color: red;
    padding: 5px;
    border-radius: 10px;
}
.btn_back{
    position: absolute;
    top: 0; right:  0;
    background-color: rgb(255, 233, 212);
    border-bottom-left-radius: 10px;
    padding: 5px;
    font-size: 16px;
    
}

.error{
    background-color: red;
    text-align: center;
    font-size: 19px;
    padding: 10px 0;
    margin-bottom: 10px;
}



